*{margin: 0;padding: 0;}
.hero-content {
    text-align: center;
    max-width: 300px;
    padding: 65px;
    background: rgba(255, 255, 255, 0.8);
    outline: 4px double #fff;
    margin: 0 auto;
    transform: translateY(100%);
}

header {
    background-image: url(images/hero1.jpeg);
    width: auto;
    height: 900px;
}

.about_item-left {
    width: 50%;
    float: left;
    background-image: url(images/testimonial-bg.jpg);
    height: 660px;
    background-position: -300px -20px;
}

.about_item-right {
    width: 50%;
    float: left;
    height: 660px;
    background-image: url(images/podpis.png);
    background-repeat: no-repeat;
    background-position-x: -30px;
    background-position-y: 40px;
}

.portfolioimg {
    float: left;
}

.image {
    width: 400px;

}

.portfoliotext {
    float: left;
    width: 50%;
}
.portfolio {
    float: left;
    width: 50%;
    text-align: center;
}
.right {
    float: right;
}

.footer-top {
    text-align: center;
    color: #ccc;
    clear: both;
}

.socials {
    margin: 0;
    padding: 0;
}

.socials li {
    float: left;
    overflow: hidden;
    width: 30%;
    font-size: 13px;
    background: #969696;
    padding: 20px;
}